.servicios-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: 30px;
}

.servicios-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 5px;
    width: 20%;
    height: 250px;
    text-align: center;
    border: 2px solid rgba(33, 133, 63, 0.757);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.servicios-card:hover{
    transform: scale(1.1);
    border-radius: 20%;
    background-color: rgba(33, 133, 63, 0.757);
    color: white;
    border: 2px solid black;
}

.servicios-texto{
    width: 100%;
    display: block;
}

.servicios-titulo{
    text-align: center;
    margin: 35px 10px;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}

.contenedor-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.servicios-imagen{
    width: 150px;
    height: 150px;
    left: 50px;
    margin-bottom: 7px;
    padding: 3px;
    border-radius: 40%;
    margin: 0 auto;
    border: 3px solid rgba(33, 133, 63, 0.757);
    filter: brightness(40%);
    transition: all .3s ease-in-out;
}

.servicios-imagen:hover{
    filter: brightness(100%);
    border: 2px solid black;
}

.servicios-profesion{
    margin-top: 20px;
    text-align: center;
}
